<form [formGroup]="form" (ngSubmit)="selectedPerson ? onUpdate() : onAdd()">
  <div class="form-group">
    <label for="role">Role</label>
    <input type="text" class="form-control" id="role" formControlName="role" />
    <div *ngIf="role.errors && !role.pristine">
      <small *ngIf="role.errors.required" class="form-text text-muted"
        >Please, fill this field.</small
      >
      <small *ngIf="role.errors.maxlength" class="form-text text-muted"
        >Max length is {{ maxValue }} characters.</small
      >
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" formControlName="name" />
    <div *ngIf="name.errors && !name.pristine">
      <small *ngIf="name.errors.required" class="form-text text-muted"
        >Please, fill this field.</small
      >
      <small *ngIf="name.errors.maxlength" class="form-text text-muted"
        >Max length is {{ maxValue }} characters.</small
      >
    </div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    {{ selectedPerson ? "Edit" : "Add" }}
  </button>
  <button *ngIf="selectedPerson" type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
</form>
